body{
    font-family: sans-serif;
}

.judul{
    color: black; 
    font-size: 30px; 
    text-align: left;
}

.tabel1{
    border: 1px solid;
    width: 100%;
}

.kepala{
    width: 100%; 
    background-color: silver;
}

h3{
    padding-right: 20px ;
}

.tabel2{
    padding-top: 40px; 
    padding-bottom: 300px; 
    border: 1px solid; 
    display: flex; 
    width: 100%;
}

.isi{
    width: 60%;
}

.tabel3{
    background-color: silver; 
    padding: 25px; 
    padding-top: 20px; 
    padding-bottom: 150px; 
    width: 40%;
}

.input{
    width: 260px;
}

.tabel4{
    border: 1px solid; 
    width: 100%;
}

.akhir{
    width: 100%; 
    font-size: 14px; 
    padding-left: 20px;
}

.palingbawah{
    text-align: right;
}

button{
    background-color: grey;
}